<h1>Instructions</h1>
<p>This app is pretty simple</p>
<p>Type the number of cats you want in the url like this:</p>
<p>../cat-pictures/#desired</p>
<p>where #desired= the number of cats you want to see</p>
