<h1>Welcome to Matt's Cat App!!</h1>
<p>It's <%= current_date_and_time %> and its time for some cats!!!!</p>
<p>click on the Cat Pics link to view some adorable cats</p>
<h2>Menu:</h2>
<ul>
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'About',about_path %></li>
	<li><%= link_to 'Cat Pics', cat_pictures_path %></li>
</ul>
